<div fxLayout="column" class="home-container">
  <h1>Welcome to the LCU-Starter-App</h1>
  <div fxLayout="column">
    <div fxLayout="row">
      <p>
        LCU-Starter-App is an Angular Application built and customized by the
        <a href="https://github.com/lowcodeunit/lcu-cli" target="_blank">lcu-cli</a>
        - a implementation of the Angular CLI by Fathym.
      </p>
    </div>

    <div fxLayout="row">
      <p>
        This starter application provides the baseline library and application structure
        giving developers the freedom to rapidly create data-driven applications. It is
        the first step in Fathym's best practice workflow to build custom Low-Code Units
        (LCUs) tailored to your business requirements.
      </p>
    </div>

    <div fxLayout="row">
      <p>
        Read through our <a routerLink="/documentation">Documentation</a> to get started
        on building your very own <i>Low-Code Unit&trade;</i>!
      </p>
    </div>
  </div>
</div>
